@use "../modules/mixins";

* {
  font-family: "Courier Prime";
}
img {
  @include mixins.img-x-small;
}
h4 {
  font-size: large;
  margin: 0px;
}
#overlays {
  position: absolute;
}
.openingScreen {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 700px;
  height: 600px;

  background: url("../public/finalScene.png");
  background-size: cover;
  &__title {
    margin: 0px;
    @include mixins.text-box;
    width: 500px;
  }
  &__text {
    @include mixins.text-box;
    width: 400px;
  }
  &__btn {
    @include mixins.btn-big;
  }
}
.background {
  width: 800px;
  height: 700px;
  background: url("../public/boat.png");
  background-repeat: no-repeat;
  background-size: 800px 1000px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.header {
  width: 800px;
  height: 180px;
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  justify-content: center;
  align-items: center;
  &__captain {
    grid-column: 3;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 160px;
    height: 160px;
    &--img {
      @include mixins.img-med;
    }
    &--btn {
      @include mixins.btn-dark;
    }
  }
  &__notebook {
    grid-column: 1;
    width: 150px;
    height: 150px;
    &--img {
      @include mixins.img-small;
    }

    &--btn {
      @include mixins.btn-dark;
    }
  }
  &__info {
    grid-column: 4;

    @include mixins.text-box;
  }
}
.board {
  width: 520px;
  height: 520px;
  list-style-type: none;
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  grid-auto-flow: row;
  gap: 0%;
  padding: 0px;
  margin: 0px;

  &__piece {
    border: none;
    width: 100px;
    height: 100px;
    margin: 0px;
    padding: 2px;
    display: flex;
    flex-direction: row;
    background: url("../public/background.png");
    background-size: cover;
    gap: 0px;
    &--tool {
      width: 100px;
      height: 100px;
      background-color: transparent;

      border: none;
      padding: 0px;
      margin: 0px;
      background-size: cover;
      justify-self: center;
      background-position: center;
    }
    &--person {
      width: 100%;
      height: 100%;
      justify-self: center;
      background-color: transparent;
      border: none;
      background-size: cover;
      padding: 0px;
      margin: 0px;
      display: flex;
      flex-direction: column-reverse;
      align-items: flex-start;
      justify-content: flex-end;
    }
  }
}
.cluesOverlay {
  display: none;
  width: 600px;
  height: 600px;
  background-image: url("../public/clue.png");
  background-size: cover;
  flex-direction: column;
  flex-flow: column;
  flex-wrap: wrap;
  justify-content: fcenter;
  align-content: flex-start;
  align-items: center;
  border-radius: 40px;
  margin-top: 100px;
  gap: 2px;
  &__close {
    padding: 5px;
    margin: 10px 0px 0px 0px;
    @include mixins.btn-x-small;
  }
  &__text {
    width: 460px;
    height: 200px;
    font-size: larger;
    margin: 0px 0px 0px 30px;
    display: flex;
    flex-flow: column;
    overflow: hidden;
    white-space: nowrap;
  }

  &__btnbox {
    display: flex;
    flex-direction: row;

    margin: 0px 0px 0px 30px;
    gap: 5px;
    &--btn {
      @include mixins.btn-small;
    }
  }
}

.notebookOverlay {
  display: none;
  width: 400px;
  height: 400px;
  background-image: url("../public/page.png");
  background-size: cover;
  flex-direction: column;

  align-items: center;
  justify-content: center;

  &__title {
    text-decoration: underline;
  }
  &__bulletPts {
    font-size: large;
  }
  &__addNote {
    &--input {
      height: 100px;
      width: 200px;
      border-radius: 20px;
    }
    &--btn {
      padding: 5%;
      @include mixins.btn-x-small;
    }
  }
  &__close {
    @include mixins.btn-x-small;
  }
}
.captainOverlay {
  display: none;
  width: 600px;
  height: 500px;

  background: url("../public/finalScene.png");
  background-size: cover;
  grid-template-columns: repeat(4, 1fr);
  grid-template-rows: repeat(4, 1fr);
  grid-auto-flow: row;
  &__close {
    grid-column: 4;
    @include mixins.btn-x-small;
  }
  &__initial {
    grid-column: 2 / 4;
    grid-row: 2 / 4;
    display: none;
    grid-template-columns: repeat(2, 1fr);
    grid-auto-flow: row;

    &--text {
      display: flex;
      justify-content: center;
      align-items: center;
      font-size: x-large;
      padding: 3px;
      @include mixins.text-box;
      height: 70px;
    }
    &--img {
      @include mixins.img-lrg;
    }
    &--btn {
      @include mixins.btn-big;
    }
  }
  &__info {
    grid-column: 2 / 4;
    grid-row: 2 / 4;
    display: none;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    &--close {
      @include mixins.btn-x-small;
    }
    &--img {
      @include mixins.img-lrg;
    }
    &--text {
      @include mixins.text-box;
      font-size: large;
    }
  }
  &__final {
    display: none;
    grid-column: 2 / 4;
    grid-row: 2 / 4;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    &--title {
      font-size: xx-large;
      margin: 0px 0px 8px 0px;
      @include mixins.text-box;
    }
    &--text {
      display: none;
      margin: 0px 0px 6px 0px;
      font-size: large;
      @include mixins.text-box;
    }
    &--close {
      @include mixins.btn-small;
      margin: 0px;
    }
    &--img {
      @include mixins.img-small;
    }
    &--person-result,
    &--weapon-result {
      display: none;
      @include mixins.text-box;
      padding: 0px 6px 0px 6px;
    }
    &--end-game {
      display: none;
      @include mixins.btn-small;
    }
  }
}
.accusationForm {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-around;
  align-items: center;
  gap: 8px;
  width: 450px;
  &__text {
    font-size: x-large;
    @include mixins.text-box;
  }
  &__suspects,
  &__weapons {
    width: 160px;
    height: 50px;
    border-radius: 20px;
    font-size: large;
  }
  &__submit {
    @include mixins.btn-big;
  }
}
