.board {
  width: 720px;
  height: 720px;
  list-style-type: none;
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  grid-auto-flow: row;
  gap: 0%;
  padding: 0px;
  margin: 0px;
  &__piece {
    border: 1px solid black;
    width: 140px;
    height: 140px;
    margin: 0px;
  }
}
